# Ignorar dados do Postgres
postgres_data/

# Ignorar arquivos de log
*.log

# Ignorar arquivos do .env
.env

# Ignorar arquivos temporários
*.tmp
*.swp

# Ignorar arquivos do Docker
docker-compose.override.yml
.env


# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
terraform.tfvars
secrets.tfvars
*.backup

# OS files
.DS_Store
Thumbs.db

.fake
postgres_data/
